@font-face {
  font-family: valera;
  src: url(fonts/VarelaRound-Regular.ttf);
}

* {
  text-align: center;
  direction: rtl;
  font-family: valera;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

#message {
  display: none;
  z-index: 1;
  position: absolute;
  width: 85vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10%;
  flex-wrap: wrap;
  background-color: crimson;
  color: aliceblue;
  justify-content: space-between;
  align-content: space-between;
  border-style: double;
  border-color: honeydew;
}

#message_text {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 100%;
  margin-top: 10%;
  font-size: 8vw;
}

button {
  margin: 5% 5% 5% 5%;
  padding: 2% 2% 2% 2%;
  height: 10vh;
  font-size: 5vw;
  background-color: black;
  border-color: honeydew;
  border-radius: 10%;
  color: aliceblue;
}
#quiz {
  display: none;
  z-index: 2;
  position: absolute;
  width: 85vw;
  height: 85vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5vw;
  flex-wrap: wrap;
  background-color: cornflowerblue;
  padding: 5vh 5vw 5vh 5vw;
  color: aliceblue;
  justify-content: space-between;
  align-content: stretch;
  border-style: double;
  border-color: honeydew;
}

.text {
  width: 100%;
  background-color: rgba(0, 0, 139, 0.2);
  display: flex;
  justify-content: center;  
  align-items: center;
  border-radius: 1vw;
}

#question {
  background-color:rgba(0, 0, 139, 0.397) ;
  border-radius: 1vw;
  color: aliceblue;
}

#timer {
position: absolute;
  top: 5vh;
  right: 2vh;
  font-size: 5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7%;
  color: aliceblue;
  padding: 2vw 2vh 2vw 2vh;
  z-index: 1;
}

#policemanCounts {
  position: absolute;
  top: 5vh;
  left: 2vh;
  font-size: 5vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7%;
  color: aliceblue;
  padding: 2vw 2vh 2vw 2vh;
  z-index: 1;
}

